.main {
  /* width: 100vh; */
  height: 100vh;

  display: flex;
}

body {
  background-color: black;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 335px;
  background-color: transparent;
  border-right: 1px solid rgb(38, 38, 38);
  flex-direction: column;
  display: flex;
  z-index: 10;
}

.ab {
  height: inherit !important;
  width: inherit !important;
  position: relative;
}

.ab1 {
  height: inherit !important;
  width: 80px;
  padding: 8px 12px 20px 12px;
  display: flex;
  align-items: flex-start;
}

.aa12 {
  height: 18px;
  width: 613px;
  position: relative;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;

  margin-left: -20px;
}

.aa12 ul {
  list-style-type: none;
}

.posts {
  width: 51px;
  height: 18px;
  color: whitesmoke;
  font-size: 16px;
  margin-right: 40px;
}
.follower {
  height: 18px;
  color: whitesmoke;
  font-size: 16px;
  margin-right: 40px;
  width: 86px;
}

.following {
  height: 18px;
  color: whitesmoke;
  font-size: 16px;
  margin-right: 40px;
  width: 87.5px;
}

.ab121 {
  height: 96px;
  width: 260px;
}

.ab121 a {
  height: 96px;
  width: 260px;
  position: relative;
  cursor: pointer;
  margin-top: 35px;

  font-family: "Salsa", cursive;
  text-decoration: none;
  color: white;
  font-size: 24px;
  display: flex;
  margin-left: 40px;
}

.ab13 {
  height: 679px;
  width: 260px;
}

.ab131 {
  height: 48px;
  width: 250px;
  position: relative;
  margin-top: 120px;
  margin-left: -219px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.ab131 img {
  width: 29px;
  height: 29px;
}

.ab131 .home {
  display: flex;
  margin-top: -30px;
  margin-left: 55px;
}

.ab131 a {
  height: 48px;
  width: 250px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 10px;
}

.ab131:hover {
  /* filter: brightness(80%); */
  background-color: rgb(30, 30, 30);
  img {
    transform: scale(1.05);
  }
  transition: (0.2);
}

.ab130 {
  height: 48px;
  width: 250px;
  position: relative;
  margin-top: 12px;
  margin-left: -219px;
  border-radius: 8px;
}

.ab130 a {
  height: 48px;
  width: 250px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 17px;

  margin-top: 11.5px;

  margin-left: 10px;
}

.ab130:hover {
  /* filter: brightness(80%); */
  background-color: rgb(30, 30, 30);
  img {
    transform: scale(1.05);
  }
  transition: (0.2);
}

.ab130 img {
  width: 29px;
  height: 29px;
}

.ab130 .home {
  display: flex;
  margin-top: -30px;
  margin-left: 55px;
}

.ab14 {
  margin-top: 750px;
  margin-left: -21px;
}

.profile {
  width: 1567px;
  height: 776px;
}

.aa {
  width: 975px;
  height: 746px;
}

.header {
  width: 935px;
  height: 208px;
}

.nav-bar {
  height: 53px;
  width: 935px;
}

.post {
  width: 935px;
  height: 308px;
}

.photo {
  width: 291px;
  height: 208px;
  margin-left: 750px;
}

.aa1 {
  width: 613px;
  height: 208px;
  margin-left: 1040px;
  margin-top: -150px;
}

.aa11 {
  width: 613px;
  height: 40px;
  display: flex;
}

.name {
  width: 76.5px;
  height: 25px;
}

.name a {
  text-decoration: none;
}

.name h2 {
  color: white !important;
  font-weight: 400;
  font-size: 20;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.btn {
  width: 101px;
  height: 32px;
}

.btn button {
  height: 32px;
  width: 101px;
  font-weight: 600;
  border-radius: 8px;
  border: 0;
  align-items: center;
  cursor: pointer;
  background-color: rgb(54, 54, 54);
  color: rgb(245, 245, 245);
  margin-left: 46px;
  margin-top: 22px;
}

.btn button:hover {
  filter: brightness(80%);
}

.btn a {
  text-decoration: none;
}

.setting {
  width: 40px;
  height: 40px;
}

.setting img {
  width: 24px;
  height: 24px;
  margin-left: 70px;
  margin-top: 25px;
}

.aa12 {
  width: 613px;
  height: 18px;
}

.aa13 {
  width: 613px;
  height: 110px;
}

.ph1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.ph1 button {
  background-color: transparent;
  border: 0;
  margin-top: 75px;
  cursor: pointer;
}

.ph1 img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.mode {
  width: 40px;
  height: 30px;
  margin-left: 580px;
  margin-top: -50px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .mode:hover {
  transform: scale(1.05);
  background-color: rgb(30, 30, 30);
} */

.mode img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
