/* * {
  display: flex;
  align-items: center;
  justify-content: center;
} */

#login-container #login #text {
  font-family: "Salsa", cursive;

  font-weight: 900;
  font-style: normal;
  cursor: pointer;
  height: 55px;
  width: 175px;
  font-size: 3rem;
  margin-top: 36px;
  margin-bottom: 12px;
  margin-left: 60px;
  margin-right: auto;
}

#login-container {
  width: 350px;
  height: 677px;
  /* border: 1px solid grey; */
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
}

#login-container #login {
  border: 1px solid rgb(219, 219, 219);
  height: 401px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}
#login-container #login .form {
  width: 277px;
  height: 348px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-top: 24px;
}

/* #login-container #login{

} */

input {
  width: 258px;
  height: 36px;
  background-color: #fafafada;
  /* padding: 9px 0px 7px 8px; */
  border: 1px solid rgb(219, 219, 219);
}

._ab32 {
  margin: 0 40px 6px;
}

._ab32 button {
  border: none;
  background-color: #3399ff;
  border-radius: 10px;
  width: 264px;
  height: 32px;
  margin-top: 12px;
  margin-bottom: 12px;
}

._ab32 .btn {
  background-color: #3399ff;
  width: 236px;
  height: 18px;
  color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.or-section .line {
  width: 107.05px;
  height: 1px;
  top: 0.45rem;
  position: relative;
  background-color: #d9d9d9;
  flex-grow: 1;
}

._ab39 {
  margin: 10px 40px 18px;
}

._ab39 .or-section {
  display: flex;
  flex-direction: row;
}

.or-section .or {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 18px;
  margin-right: 18px;
  color: rgb(115, 115, 115);
}

.facebook {
  width: 268px;
  height: 20px;
  margin-bottom: 8px;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.facebook ._acan {
  background: none;
  cursor: pointer;
  padding: 0;
  border: none;
}

._acan .facebook-img {
  height: 16px;
  width: 16px;
}

._acan .facebook-img img {
  height: 16px;
  width: 16px;
}

._ab37 {
  height: 19px;
  width: 135px;
  color: #385185;
  font-size: 14px;
  font-weight: 600;
}

#loginForm a {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 24px;
  line-height: 16px;
  font-size: 14px;
  color: rgb(0, 55, 107);
  height: 16px;
  width: 348px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

._ab21 {
  width: 350px;
  height: 63px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 219, 219);
  flex-direction: column;

  padding: 10px 0;

  vertical-align: baseline;
  justify-content: center;
  margin-top: 425px;
  margin-left: -347px;
}

._ab21 .xyz {
  width: 227px;
  height: 41px;
  line-height: 18px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  margin-right: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin-left: 0;
  margin-top: 16px;
}

._ab21 .xyz p {
  width: 197px;
  height: 18px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin: 15px;
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 18px;
  display: inline;
}

._ab21 .xyz a {
  text-decoration: none;
  width: 48px;
  height: 19px;
  color: rgb(0, 149, 246);
  padding: 0;
  margin: 0;

  display: inline;
  cursor: pointer;
}

._ap3a {
  font-weight: 600;
  margin: 0;
  font-size: 14px;
  text-align: inherit;
}

._aa4u {
  border: 0;
  color: rgb(0, 0, 0);
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 20px 10px 20px;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
  width: 310px;
  height: 11px;
  margin-bottom: 20px;
}

._aa4u span {
  line-height: 18px;
  margin: 0;
  width: 310px;
  height: 18px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

._aa4v {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 10px 0;
  color: rgb(0, 0, 0);
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 18px;
  width: 350px;
  height: 44px;
}

._aa4v .google {
  width: 154px;
  height: 44px;
  margin-right: 8px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

._aa4v .google img {
  width: 134px;
  height: 40px;
  display: inline;
  cursor: pointer;
}

.x78 {
  margin-left: -350px;
  margin-top: 529px;
}

._aa4v .microsoft {
  width: 111px;
  height: 44px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

._aa4v .microsoft img {
  width: 111px;
  height: 44px;
  cursor: pointer;
}

footer {
  width: 757px;
  height: 158px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

footer .xya {
  width: 725px;
  height: 106px;
  justify-content: flex-start;
}

.xya .xya1 {
  width: 725px;
  height: 46px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.xya .xya2 {
  width: 725px;
  height: 12px;
}

.xya11 {
  width: 725px;
  height: 46px;
  display: inline;
}

.xya111 a {
  width: 27px;
  height: 16px;
  color: rgb(0, 55, 107);
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  display: inline;
}
